<div class="login-container">
    <img src="/assets/logo.jpg" />
        <h3>{{ msg }}msg</h3>
    <div class="login-form-container">
        <form action="/login" method="POST">
            <div>
                <input value="javid.king63@gmail.com" name="email" type="text" id="Email" />
            </div>
            <div>
                <input value="password" name="password" type="password" id="Password" />
            </div>
            <div>
                <button type="submit"><i class="gg-check-o"></i></button>
            </div>
        </form>
        <div class="form-links">
            <a href="/signup">ثبت نام</a>
            <a href="/" class="form-links-left">صفحه اصلی</a>
        </div>
    </div>
</div>
</div>