<div class="login-container">
    <img src="/assets/logo.jpg" />
        <h4>{{ msg }}</h4>
    <div class="login-form-container">
        <form action="/login" method="POST">
            <div>
                <input value="godmode@god.com" name="email" type="text" id="Email" />
            </div>
            <div>
                <input value="password" name="password" type="password" id="Password" />
            </div>
            <div>
                <button type="submit">ورود</button>
            </div>
        </form>
        <div class="form-links">
            <a class="__right" href="/signup">ثبت نام</a>
            <a href="/" class="__left">صفحه اصلی</a>
        </div>
    </div>
</div>