<div class="signup-container">
    <div id="sec-one">
        <h4>{{msg}}j</h4>
        <form action="/signup" method="post">
            <div class="__email">
            <label for="email">ایمیل:</label>
            <input type="email" 
            placeholder="email" 
            id="email"
            name="email"
            value="GodMode@g"/>
            <a href="#sec-two">مرحله بعد</a>
            <p>قبلا ثبت نام کردی؟ <a>کلیک کن!</a> </p>
            </div>
    </div>
    <div id="sec-two">
        <div class="__password">
            <label for="password">رمز عبور:</label>
            <input type="password"
            placeholder="password"
            id="password"
            name="password"
            value="godModeG" />
        </div>
        <div class="__password2">
          <label for="password2">تکرار رمز عبور</label>
            <input type="password"
            placeholder="password2"
            id="password2"
            name="password2"
            value="godModeG" />
        </div>
        <button type="submit">ساخت حساب کاربری</button>
        </form>
    </div>
</div>